/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 10/11/2018 4:48:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Articulos]    Script Date: 10/11/2018 4:48:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Articulos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Codigo] [nvarchar](max) NULL,
	[Nombre] [nvarchar](max) NULL,
	[PrecioActualCompra] [decimal](18, 2) NOT NULL,
	[PrecioActualVenta] [decimal](18, 2) NOT NULL,
	[StockMinimo] [int] NOT NULL,
	[StockMaximo] [int] NOT NULL,
	[Habilitado] [bit] NOT NULL,
	[RubroID] [int] NOT NULL,
	[NombreEtiqueta] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Articulos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CategoriasMovimientoEfectivo]    Script Date: 10/11/2018 4:48:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CategoriasMovimientoEfectivo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.CategoriasMovimientoEfectivo] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CierresCaja]    Script Date: 10/11/2018 4:48:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CierresCaja](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FechaCierreCaja] [datetime] NOT NULL,
	[TotalVentasEfectivo] [decimal](18, 2) NOT NULL,
	[TotalProveedores] [decimal](18, 2) NOT NULL,
	[TotalSueldos] [decimal](18, 2) NOT NULL,
	[TotalVentasTarjetas] [decimal](18, 2) NOT NULL,
	[TotalVarios] [decimal](18, 2) NOT NULL,
	[Saldo] [decimal](18, 2) NOT NULL,
	[TurnoID] [int] NOT NULL,
	[SucursalID] [int] NOT NULL,
	[UsuarioID] [int] NOT NULL,
	[FechaCierreEfectiva] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.CierresCaja] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 10/11/2018 4:48:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Apellido] [nvarchar](max) NULL,
	[Nombre] [nvarchar](max) NULL,
	[DNI] [nvarchar](max) NULL,
	[Calle] [nvarchar](max) NULL,
	[Numero] [nvarchar](max) NULL,
	[Piso] [nvarchar](max) NULL,
	[Dpto] [nvarchar](max) NULL,
	[Bis] [bit] NOT NULL,
	[Telefono] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[Habilitado] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Clientes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Configuraciones]    Script Date: 10/11/2018 4:48:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Configuraciones](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FechaFinPeriodoPrueba] [datetime] NOT NULL,
	[SaldoInicialTurnoMañana] [decimal](18, 2) NOT NULL,
	[LongitudNombreEtiqueta] [int] NOT NULL,
 CONSTRAINT [PK_Configuraciones_Temp] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DevolucionesSinTicket]    Script Date: 10/11/2018 4:48:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DevolucionesSinTicket](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Fecha] [datetime] NOT NULL,
	[Motivo] [nvarchar](max) NULL,
	[RegresaAlStock] [bit] NOT NULL,
	[Cantidad] [int] NOT NULL,
	[Monto] [decimal](18, 2) NOT NULL,
	[SucursalID] [int] NOT NULL,
	[ArticuloID] [int] NOT NULL,
 CONSTRAINT [PK_dbo.DevolucionesSinTicket] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FormasDePago]    Script Date: 10/11/2018 4:48:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FormasDePago](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](max) NULL,
	[Recargo] [decimal](18, 2) NULL,
 CONSTRAINT [PK_dbo.FormasDePago] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HistoricosPrecios]    Script Date: 10/11/2018 4:48:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HistoricosPrecios](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FechaDesde] [datetime] NOT NULL,
	[Precio] [decimal](18, 2) NOT NULL,
	[ArticuloID] [int] NOT NULL,
	[TipoHistoricoPrecioID] [int] NOT NULL,
 CONSTRAINT [PK_dbo.HistoricosPrecios] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MovimientosEfectivo]    Script Date: 10/11/2018 4:48:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MovimientosEfectivo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Fecha] [datetime] NOT NULL,
	[Descripcion] [nvarchar](max) NULL,
	[Monto] [decimal](18, 2) NOT NULL,
	[TipoMovimientoID] [int] NOT NULL,
	[UsuarioID] [int] NOT NULL,
	[SucursalID] [int] NOT NULL,
 CONSTRAINT [PK_dbo.MovimientosEfectivo] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pagos]    Script Date: 10/11/2018 4:48:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pagos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Monto] [decimal](18, 2) NOT NULL,
	[FormaDePagoID] [int] NOT NULL,
	[VentaID] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Pagos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Proveedores]    Script Date: 10/11/2018 4:48:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proveedores](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RazonSocial] [nvarchar](max) NULL,
	[Apellido] [nvarchar](max) NULL,
	[Nombre] [nvarchar](max) NULL,
	[DNI] [nvarchar](max) NULL,
	[Calle] [nvarchar](max) NULL,
	[Numero] [nvarchar](max) NULL,
	[Piso] [nvarchar](max) NULL,
	[Dpto] [nvarchar](max) NULL,
	[Bis] [bit] NOT NULL,
	[Telefono] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[Habilitado] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Proveedores] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 10/11/2018 4:48:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Roles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rubros]    Script Date: 10/11/2018 4:48:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rubros](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](max) NULL,
	[Descripcion] [nvarchar](max) NULL,
	[Habilitado] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Rubros] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StockArticuloSucursal]    Script Date: 10/11/2018 4:48:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StockArticuloSucursal](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ArticuloID] [int] NOT NULL,
	[SucursalID] [int] NOT NULL,
	[StockActual] [int] NOT NULL,
 CONSTRAINT [PK_dbo.StockArticuloSucursal] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StockMovimientos]    Script Date: 10/11/2018 4:48:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StockMovimientos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Fecha] [datetime] NOT NULL,
	[Cantidad] [int] NOT NULL,
	[TipoMovimientoStockID] [int] NOT NULL,
	[ArticuloID] [int] NOT NULL,
	[SucursalID] [int] NOT NULL,
	[UsuarioID] [int] NOT NULL,
	[StockActual] [int] NULL,
 CONSTRAINT [PK_dbo.StockMovimientos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sucursales]    Script Date: 10/11/2018 4:48:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sucursales](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](max) NULL,
	[Descripcion] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Sucursales] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoHistoricosPrecios]    Script Date: 10/11/2018 4:48:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoHistoricosPrecios](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.TipoHistoricosPrecios] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TiposMovimientosEfectivo]    Script Date: 10/11/2018 4:48:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TiposMovimientosEfectivo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](max) NULL,
	[Caja] [bit] NOT NULL,
	[Suma] [bit] NOT NULL,
	[CategoriaMovimientoEfectivoID] [int] NOT NULL,
	[Habilitado] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.TiposMovimientosEfectivo] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TiposMovimientosStock]    Script Date: 10/11/2018 4:48:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TiposMovimientosStock](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](max) NULL,
	[Suma] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.TiposMovimientosStock] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Turnos]    Script Date: 10/11/2018 4:48:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Turnos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](max) NULL,
	[HoraDesde] [int] NOT NULL,
	[HoraHasta] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Turnos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 10/11/2018 4:48:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DNI] [nvarchar](max) NULL,
	[Nombre] [nvarchar](max) NULL,
	[Apellido] [nvarchar](max) NULL,
	[Password] [nvarchar](max) NULL,
	[Habilitado] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Usuarios] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UsuariosRoles]    Script Date: 10/11/2018 4:48:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsuariosRoles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SucursalID] [int] NOT NULL,
	[RolID] [int] NOT NULL,
	[UsuarioID] [int] NOT NULL,
 CONSTRAINT [PK_dbo.UsuariosRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VentaItems]    Script Date: 10/11/2018 4:48:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VentaItems](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Precio] [decimal](18, 2) NOT NULL,
	[Cantidad] [int] NOT NULL,
	[Descuento] [decimal](18, 2) NOT NULL,
	[Devuelto] [bit] NOT NULL,
	[VentaID] [int] NOT NULL,
	[ArticuloID] [int] NOT NULL,
 CONSTRAINT [PK_dbo.VentaItems] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ventas]    Script Date: 10/11/2018 4:48:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ventas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FechaVenta] [datetime] NOT NULL,
	[TotalVenta] [decimal](18, 2) NOT NULL,
	[Anulado] [bit] NOT NULL,
	[UsuarioID] [int] NOT NULL,
	[ClienteID] [int] NOT NULL,
	[SucursalID] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Ventas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Articulos] ON 

INSERT [dbo].[Articulos] ([Id], [Codigo], [Nombre], [PrecioActualCompra], [PrecioActualVenta], [StockMinimo], [StockMaximo], [Habilitado], [RubroID], [NombreEtiqueta]) VALUES (5040, N'1000000050400', N'Diseño Web', CAST(3500.00 AS Decimal(18, 2)), CAST(6500.00 AS Decimal(18, 2)), 5, 50, 1, 22, N'Diseño Web')
INSERT [dbo].[Articulos] ([Id], [Codigo], [Nombre], [PrecioActualCompra], [PrecioActualVenta], [StockMinimo], [StockMaximo], [Habilitado], [RubroID], [NombreEtiqueta]) VALUES (5041, N'1000000050417', N'Tienda Online', CAST(4500.00 AS Decimal(18, 2)), CAST(7500.00 AS Decimal(18, 2)), 5, 40, 1, 22, N'Tienda Online')
SET IDENTITY_INSERT [dbo].[Articulos] OFF
SET IDENTITY_INSERT [dbo].[CategoriasMovimientoEfectivo] ON 

INSERT [dbo].[CategoriasMovimientoEfectivo] ([Id], [Nombre]) VALUES (1, N'Proveedores')
INSERT [dbo].[CategoriasMovimientoEfectivo] ([Id], [Nombre]) VALUES (2, N'Sueldos')
INSERT [dbo].[CategoriasMovimientoEfectivo] ([Id], [Nombre]) VALUES (3, N'Varios')
SET IDENTITY_INSERT [dbo].[CategoriasMovimientoEfectivo] OFF
SET IDENTITY_INSERT [dbo].[Clientes] ON 

INSERT [dbo].[Clientes] ([Id], [Apellido], [Nombre], [DNI], [Calle], [Numero], [Piso], [Dpto], [Bis], [Telefono], [Email], [Habilitado]) VALUES (1, N'Pochettino', N'Nicolas', N'', N'', N'', N'', N'', 0, N'', N'', 0)
SET IDENTITY_INSERT [dbo].[Clientes] OFF
SET IDENTITY_INSERT [dbo].[Configuraciones] ON 

INSERT [dbo].[Configuraciones] ([Id], [FechaFinPeriodoPrueba], [SaldoInicialTurnoMañana], [LongitudNombreEtiqueta]) VALUES (1, CAST(N'2020-01-01T00:00:00.000' AS DateTime), CAST(1500.00 AS Decimal(18, 2)), 13)
SET IDENTITY_INSERT [dbo].[Configuraciones] OFF
SET IDENTITY_INSERT [dbo].[DevolucionesSinTicket] ON 

INSERT [dbo].[DevolucionesSinTicket] ([Id], [Fecha], [Motivo], [RegresaAlStock], [Cantidad], [Monto], [SucursalID], [ArticuloID]) VALUES (5, CAST(N'2016-12-05T09:47:17.107' AS DateTime), N'otros', 1, 1, CAST(140.00 AS Decimal(18, 2)), 3, 5037)
SET IDENTITY_INSERT [dbo].[DevolucionesSinTicket] OFF
SET IDENTITY_INSERT [dbo].[FormasDePago] ON 

INSERT [dbo].[FormasDePago] ([Id], [Nombre], [Recargo]) VALUES (1, N'Efectivo', CAST(1.00 AS Decimal(18, 2)))
INSERT [dbo].[FormasDePago] ([Id], [Nombre], [Recargo]) VALUES (2, N'Tarjeta Débito', CAST(1.00 AS Decimal(18, 2)))
INSERT [dbo].[FormasDePago] ([Id], [Nombre], [Recargo]) VALUES (3, N'Tarjeta Crédito', CAST(1.10 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[FormasDePago] OFF
SET IDENTITY_INSERT [dbo].[HistoricosPrecios] ON 

INSERT [dbo].[HistoricosPrecios] ([Id], [FechaDesde], [Precio], [ArticuloID], [TipoHistoricoPrecioID]) VALUES (11751, CAST(N'2018-10-02T23:25:21.413' AS DateTime), CAST(3500.00 AS Decimal(18, 2)), 5040, 1)
INSERT [dbo].[HistoricosPrecios] ([Id], [FechaDesde], [Precio], [ArticuloID], [TipoHistoricoPrecioID]) VALUES (11752, CAST(N'2018-10-02T23:25:21.423' AS DateTime), CAST(6500.00 AS Decimal(18, 2)), 5040, 2)
INSERT [dbo].[HistoricosPrecios] ([Id], [FechaDesde], [Precio], [ArticuloID], [TipoHistoricoPrecioID]) VALUES (11753, CAST(N'2018-10-02T23:25:50.247' AS DateTime), CAST(4500.00 AS Decimal(18, 2)), 5041, 1)
SET IDENTITY_INSERT [dbo].[HistoricosPrecios] OFF
SET IDENTITY_INSERT [dbo].[Pagos] ON 

INSERT [dbo].[Pagos] ([Id], [Monto], [FormaDePagoID], [VentaID]) VALUES (9825, CAST(14000.00 AS Decimal(18, 2)), 1, 9807)
INSERT [dbo].[Pagos] ([Id], [Monto], [FormaDePagoID], [VentaID]) VALUES (9826, CAST(7500.00 AS Decimal(18, 2)), 1, 9808)
INSERT [dbo].[Pagos] ([Id], [Monto], [FormaDePagoID], [VentaID]) VALUES (9827, CAST(7500.00 AS Decimal(18, 2)), 1, 9809)
SET IDENTITY_INSERT [dbo].[Pagos] OFF
SET IDENTITY_INSERT [dbo].[Proveedores] ON 

INSERT [dbo].[Proveedores] ([Id], [RazonSocial], [Apellido], [Nombre], [DNI], [Calle], [Numero], [Piso], [Dpto], [Bis], [Telefono], [Email], [Habilitado]) VALUES (30, N'ADWEB', N'Pochettino', N'Nicolas', N'34541595', NULL, NULL, NULL, NULL, 0, NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[Proveedores] OFF
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([Id], [Nombre]) VALUES (1, N'Administrador')
INSERT [dbo].[Roles] ([Id], [Nombre]) VALUES (2, N'Responsable')
INSERT [dbo].[Roles] ([Id], [Nombre]) VALUES (3, N'Vendedor')
SET IDENTITY_INSERT [dbo].[Roles] OFF
SET IDENTITY_INSERT [dbo].[Rubros] ON 

INSERT [dbo].[Rubros] ([Id], [Nombre], [Descripcion], [Habilitado]) VALUES (1, N'Bazar', NULL, 1)
INSERT [dbo].[Rubros] ([Id], [Nombre], [Descripcion], [Habilitado]) VALUES (2, N'Bombillas', NULL, 1)
INSERT [dbo].[Rubros] ([Id], [Nombre], [Descripcion], [Habilitado]) VALUES (3, N'Regalería', N'Desc. de Regalería', 0)
SET IDENTITY_INSERT [dbo].[Rubros] OFF
SET IDENTITY_INSERT [dbo].[StockArticuloSucursal] ON 

INSERT [dbo].[StockArticuloSucursal] ([Id], [ArticuloID], [SucursalID], [StockActual]) VALUES (15118, 5040, 1, 0)
INSERT [dbo].[StockArticuloSucursal] ([Id], [ArticuloID], [SucursalID], [StockActual]) VALUES (15119, 5040, 2, 29)
INSERT [dbo].[StockArticuloSucursal] ([Id], [ArticuloID], [SucursalID], [StockActual]) VALUES (15120, 5040, 3, 0)
SET IDENTITY_INSERT [dbo].[StockArticuloSucursal] OFF
SET IDENTITY_INSERT [dbo].[StockMovimientos] ON 

INSERT [dbo].[StockMovimientos] ([Id], [Fecha], [Cantidad], [TipoMovimientoStockID], [ArticuloID], [SucursalID], [UsuarioID], [StockActual]) VALUES (31562, CAST(N'2018-10-02T23:26:36.097' AS DateTime), 30, 2, 5040, 2, 1, 30)
INSERT [dbo].[StockMovimientos] ([Id], [Fecha], [Cantidad], [TipoMovimientoStockID], [ArticuloID], [SucursalID], [UsuarioID], [StockActual]) VALUES (31563, CAST(N'2018-10-02T23:26:45.923' AS DateTime), 30, 2, 5041, 2, 1, 30)
INSERT [dbo].[StockMovimientos] ([Id], [Fecha], [Cantidad], [TipoMovimientoStockID], [ArticuloID], [SucursalID], [UsuarioID], [StockActual]) VALUES (31564, CAST(N'2018-10-02T23:27:06.807' AS DateTime), -1, 1, 5041, 2, 1, 29)
SET IDENTITY_INSERT [dbo].[StockMovimientos] OFF
SET IDENTITY_INSERT [dbo].[Sucursales] ON 

INSERT [dbo].[Sucursales] ([Id], [Nombre], [Descripcion]) VALUES (1, N'Depósito', N'Desc. de Depósito')
INSERT [dbo].[Sucursales] ([Id], [Nombre], [Descripcion]) VALUES (2, N'Sucursal 1', N'Desc. de Sucursal 1')
INSERT [dbo].[Sucursales] ([Id], [Nombre], [Descripcion]) VALUES (3, N'Sucursal 2', N'Desc. de Sucursal 2')
SET IDENTITY_INSERT [dbo].[Sucursales] OFF
SET IDENTITY_INSERT [dbo].[TipoHistoricosPrecios] ON 

INSERT [dbo].[TipoHistoricosPrecios] ([Id], [Nombre]) VALUES (1, N'Compra')
INSERT [dbo].[TipoHistoricosPrecios] ([Id], [Nombre]) VALUES (2, N'Venta')
SET IDENTITY_INSERT [dbo].[TipoHistoricosPrecios] OFF
SET IDENTITY_INSERT [dbo].[TiposMovimientosEfectivo] ON 

INSERT [dbo].[TiposMovimientosEfectivo] ([Id], [Nombre], [Caja], [Suma], [CategoriaMovimientoEfectivoID], [Habilitado]) VALUES (1, N'Pago Sueldo Vendedor ', 1, 0, 2, 1)
INSERT [dbo].[TiposMovimientosEfectivo] ([Id], [Nombre], [Caja], [Suma], [CategoriaMovimientoEfectivoID], [Habilitado]) VALUES (2, N'Pago Sueldo Encargado ', 1, 0, 2, 1)
INSERT [dbo].[TiposMovimientosEfectivo] ([Id], [Nombre], [Caja], [Suma], [CategoriaMovimientoEfectivoID], [Habilitado]) VALUES (3, N'Pago Alquiler', 0, 0, 3, 1)
SET IDENTITY_INSERT [dbo].[TiposMovimientosEfectivo] OFF
SET IDENTITY_INSERT [dbo].[TiposMovimientosStock] ON 

INSERT [dbo].[TiposMovimientosStock] ([Id], [Nombre], [Suma]) VALUES (1, N'Venta', 0)
INSERT [dbo].[TiposMovimientosStock] ([Id], [Nombre], [Suma]) VALUES (2, N'Reposición', 1)
INSERT [dbo].[TiposMovimientosStock] ([Id], [Nombre], [Suma]) VALUES (3, N'Devolución', 1)
SET IDENTITY_INSERT [dbo].[TiposMovimientosStock] OFF
SET IDENTITY_INSERT [dbo].[Turnos] ON 

INSERT [dbo].[Turnos] ([Id], [Nombre], [HoraDesde], [HoraHasta]) VALUES (1, N'Mañana', 6, 16)
INSERT [dbo].[Turnos] ([Id], [Nombre], [HoraDesde], [HoraHasta]) VALUES (2, N'Tarde', 16, 25)
SET IDENTITY_INSERT [dbo].[Turnos] OFF
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([Id], [DNI], [Nombre], [Apellido], [Password], [Habilitado]) VALUES (1, N'admin', N'admin', N'admin', N'admin', 1)
INSERT [dbo].[Usuarios] ([Id], [DNI], [Nombre], [Apellido], [Password], [Habilitado]) VALUES (8, N'33449590', N'Leandro', N'Di Santo', N'8372774', 0)
INSERT [dbo].[Usuarios] ([Id], [DNI], [Nombre], [Apellido], [Password], [Habilitado]) VALUES (9, N'38902178', N'Yoana Belen', N'Almua', N'38902178', 0)
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
SET IDENTITY_INSERT [dbo].[UsuariosRoles] ON 

INSERT [dbo].[UsuariosRoles] ([Id], [SucursalID], [RolID], [UsuarioID]) VALUES (1, 1, 1, 1)
INSERT [dbo].[UsuariosRoles] ([Id], [SucursalID], [RolID], [UsuarioID]) VALUES (2, 2, 1, 1)
INSERT [dbo].[UsuariosRoles] ([Id], [SucursalID], [RolID], [UsuarioID]) VALUES (3, 3, 1, 1)
SET IDENTITY_INSERT [dbo].[UsuariosRoles] OFF
SET IDENTITY_INSERT [dbo].[VentaItems] ON 

INSERT [dbo].[VentaItems] ([Id], [Precio], [Cantidad], [Descuento], [Devuelto], [VentaID], [ArticuloID]) VALUES (15005, CAST(7500.00 AS Decimal(18, 2)), 1, CAST(0.00 AS Decimal(18, 2)), 0, 9807, 5041)
INSERT [dbo].[VentaItems] ([Id], [Precio], [Cantidad], [Descuento], [Devuelto], [VentaID], [ArticuloID]) VALUES (15006, CAST(6500.00 AS Decimal(18, 2)), 1, CAST(0.00 AS Decimal(18, 2)), 0, 9807, 5040)
INSERT [dbo].[VentaItems] ([Id], [Precio], [Cantidad], [Descuento], [Devuelto], [VentaID], [ArticuloID]) VALUES (15007, CAST(7500.00 AS Decimal(18, 2)), 1, CAST(0.00 AS Decimal(18, 2)), 0, 9808, 5041)
SET IDENTITY_INSERT [dbo].[VentaItems] OFF
SET IDENTITY_INSERT [dbo].[Ventas] ON 

INSERT [dbo].[Ventas] ([Id], [FechaVenta], [TotalVenta], [Anulado], [UsuarioID], [ClienteID], [SucursalID]) VALUES (9807, CAST(N'2018-10-02T23:27:06.677' AS DateTime), CAST(14000.00 AS Decimal(18, 2)), 0, 1, 1, 2)
INSERT [dbo].[Ventas] ([Id], [FechaVenta], [TotalVenta], [Anulado], [UsuarioID], [ClienteID], [SucursalID]) VALUES (9808, CAST(N'2018-10-03T15:26:19.063' AS DateTime), CAST(7500.00 AS Decimal(18, 2)), 0, 1, 1, 2)
INSERT [dbo].[Ventas] ([Id], [FechaVenta], [TotalVenta], [Anulado], [UsuarioID], [ClienteID], [SucursalID]) VALUES (9809, CAST(N'2018-10-03T15:27:53.213' AS DateTime), CAST(7500.00 AS Decimal(18, 2)), 0, 1, 1, 2)
SET IDENTITY_INSERT [dbo].[Ventas] OFF
ALTER TABLE [dbo].[Articulos]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Articulos_dbo.Rubros_RubroID] FOREIGN KEY([RubroID])
REFERENCES [dbo].[Rubros] ([Id])
GO
ALTER TABLE [dbo].[Articulos] CHECK CONSTRAINT [FK_dbo.Articulos_dbo.Rubros_RubroID]
GO
ALTER TABLE [dbo].[CierresCaja]  WITH CHECK ADD  CONSTRAINT [FK_dbo.CierresCaja_dbo.Sucursales_SucursalID] FOREIGN KEY([SucursalID])
REFERENCES [dbo].[Sucursales] ([Id])
GO
ALTER TABLE [dbo].[CierresCaja] CHECK CONSTRAINT [FK_dbo.CierresCaja_dbo.Sucursales_SucursalID]
GO
ALTER TABLE [dbo].[CierresCaja]  WITH CHECK ADD  CONSTRAINT [FK_dbo.CierresCaja_dbo.Turnos_TurnoID] FOREIGN KEY([TurnoID])
REFERENCES [dbo].[Turnos] ([Id])
GO
ALTER TABLE [dbo].[CierresCaja] CHECK CONSTRAINT [FK_dbo.CierresCaja_dbo.Turnos_TurnoID]
GO
ALTER TABLE [dbo].[CierresCaja]  WITH CHECK ADD  CONSTRAINT [FK_dbo.CierresCaja_dbo.Usuarios_UsuarioID] FOREIGN KEY([UsuarioID])
REFERENCES [dbo].[Usuarios] ([Id])
GO
ALTER TABLE [dbo].[CierresCaja] CHECK CONSTRAINT [FK_dbo.CierresCaja_dbo.Usuarios_UsuarioID]
GO
ALTER TABLE [dbo].[HistoricosPrecios]  WITH CHECK ADD  CONSTRAINT [FK_dbo.HistoricosPrecios_dbo.Articulos_ArticuloID] FOREIGN KEY([ArticuloID])
REFERENCES [dbo].[Articulos] ([Id])
GO
ALTER TABLE [dbo].[HistoricosPrecios] CHECK CONSTRAINT [FK_dbo.HistoricosPrecios_dbo.Articulos_ArticuloID]
GO
ALTER TABLE [dbo].[HistoricosPrecios]  WITH CHECK ADD  CONSTRAINT [FK_dbo.HistoricosPrecios_dbo.TipoHistoricosPrecios_TipoHistoricoPrecioID] FOREIGN KEY([TipoHistoricoPrecioID])
REFERENCES [dbo].[TipoHistoricosPrecios] ([Id])
GO
ALTER TABLE [dbo].[HistoricosPrecios] CHECK CONSTRAINT [FK_dbo.HistoricosPrecios_dbo.TipoHistoricosPrecios_TipoHistoricoPrecioID]
GO
ALTER TABLE [dbo].[MovimientosEfectivo]  WITH CHECK ADD  CONSTRAINT [FK_dbo.MovimientosEfectivo_dbo.Sucursales_SucursalID] FOREIGN KEY([SucursalID])
REFERENCES [dbo].[Sucursales] ([Id])
GO
ALTER TABLE [dbo].[MovimientosEfectivo] CHECK CONSTRAINT [FK_dbo.MovimientosEfectivo_dbo.Sucursales_SucursalID]
GO
ALTER TABLE [dbo].[MovimientosEfectivo]  WITH CHECK ADD  CONSTRAINT [FK_dbo.MovimientosEfectivo_dbo.TiposMovimientosEfectivo_TipoMovimientoID] FOREIGN KEY([TipoMovimientoID])
REFERENCES [dbo].[TiposMovimientosEfectivo] ([Id])
GO
ALTER TABLE [dbo].[MovimientosEfectivo] CHECK CONSTRAINT [FK_dbo.MovimientosEfectivo_dbo.TiposMovimientosEfectivo_TipoMovimientoID]
GO
ALTER TABLE [dbo].[MovimientosEfectivo]  WITH CHECK ADD  CONSTRAINT [FK_dbo.MovimientosEfectivo_dbo.Usuarios_UsuarioID] FOREIGN KEY([UsuarioID])
REFERENCES [dbo].[Usuarios] ([Id])
GO
ALTER TABLE [dbo].[MovimientosEfectivo] CHECK CONSTRAINT [FK_dbo.MovimientosEfectivo_dbo.Usuarios_UsuarioID]
GO
ALTER TABLE [dbo].[Pagos]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Pagos_dbo.FormasDePago_FormaDePagoID] FOREIGN KEY([FormaDePagoID])
REFERENCES [dbo].[FormasDePago] ([Id])
GO
ALTER TABLE [dbo].[Pagos] CHECK CONSTRAINT [FK_dbo.Pagos_dbo.FormasDePago_FormaDePagoID]
GO
ALTER TABLE [dbo].[Pagos]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Pagos_dbo.Ventas_VentaID] FOREIGN KEY([VentaID])
REFERENCES [dbo].[Ventas] ([Id])
GO
ALTER TABLE [dbo].[Pagos] CHECK CONSTRAINT [FK_dbo.Pagos_dbo.Ventas_VentaID]
GO
ALTER TABLE [dbo].[StockArticuloSucursal]  WITH CHECK ADD  CONSTRAINT [FK_dbo.StockArticuloSucursal_dbo.Articulos_ArticuloID] FOREIGN KEY([ArticuloID])
REFERENCES [dbo].[Articulos] ([Id])
GO
ALTER TABLE [dbo].[StockArticuloSucursal] CHECK CONSTRAINT [FK_dbo.StockArticuloSucursal_dbo.Articulos_ArticuloID]
GO
ALTER TABLE [dbo].[StockArticuloSucursal]  WITH CHECK ADD  CONSTRAINT [FK_dbo.StockArticuloSucursal_dbo.Sucursales_SucursalID] FOREIGN KEY([SucursalID])
REFERENCES [dbo].[Sucursales] ([Id])
GO
ALTER TABLE [dbo].[StockArticuloSucursal] CHECK CONSTRAINT [FK_dbo.StockArticuloSucursal_dbo.Sucursales_SucursalID]
GO
ALTER TABLE [dbo].[StockMovimientos]  WITH CHECK ADD  CONSTRAINT [FK_dbo.StockMovimientos_dbo.Articulos_ArticuloID] FOREIGN KEY([ArticuloID])
REFERENCES [dbo].[Articulos] ([Id])
GO
ALTER TABLE [dbo].[StockMovimientos] CHECK CONSTRAINT [FK_dbo.StockMovimientos_dbo.Articulos_ArticuloID]
GO
ALTER TABLE [dbo].[StockMovimientos]  WITH CHECK ADD  CONSTRAINT [FK_dbo.StockMovimientos_dbo.Sucursales_SucursalID] FOREIGN KEY([SucursalID])
REFERENCES [dbo].[Sucursales] ([Id])
GO
ALTER TABLE [dbo].[StockMovimientos] CHECK CONSTRAINT [FK_dbo.StockMovimientos_dbo.Sucursales_SucursalID]
GO
ALTER TABLE [dbo].[StockMovimientos]  WITH CHECK ADD  CONSTRAINT [FK_dbo.StockMovimientos_dbo.TiposMovimientosStock_TipoMovimientoStockID] FOREIGN KEY([TipoMovimientoStockID])
REFERENCES [dbo].[TiposMovimientosStock] ([Id])
GO
ALTER TABLE [dbo].[StockMovimientos] CHECK CONSTRAINT [FK_dbo.StockMovimientos_dbo.TiposMovimientosStock_TipoMovimientoStockID]
GO
ALTER TABLE [dbo].[StockMovimientos]  WITH CHECK ADD  CONSTRAINT [FK_dbo.StockMovimientos_dbo.Usuarios_UsuarioID] FOREIGN KEY([UsuarioID])
REFERENCES [dbo].[Usuarios] ([Id])
GO
ALTER TABLE [dbo].[StockMovimientos] CHECK CONSTRAINT [FK_dbo.StockMovimientos_dbo.Usuarios_UsuarioID]
GO
ALTER TABLE [dbo].[TiposMovimientosEfectivo]  WITH CHECK ADD  CONSTRAINT [FK_dbo.TiposMovimientosEfectivo_dbo.CategoriasMovimientoEfectivo_CategoriaMovimientoEfectivoID] FOREIGN KEY([CategoriaMovimientoEfectivoID])
REFERENCES [dbo].[CategoriasMovimientoEfectivo] ([Id])
GO
ALTER TABLE [dbo].[TiposMovimientosEfectivo] CHECK CONSTRAINT [FK_dbo.TiposMovimientosEfectivo_dbo.CategoriasMovimientoEfectivo_CategoriaMovimientoEfectivoID]
GO
ALTER TABLE [dbo].[UsuariosRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UsuariosRoles_dbo.Roles_RolID] FOREIGN KEY([RolID])
REFERENCES [dbo].[Roles] ([Id])
GO
ALTER TABLE [dbo].[UsuariosRoles] CHECK CONSTRAINT [FK_dbo.UsuariosRoles_dbo.Roles_RolID]
GO
ALTER TABLE [dbo].[UsuariosRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UsuariosRoles_dbo.Sucursales_SucursalID] FOREIGN KEY([SucursalID])
REFERENCES [dbo].[Sucursales] ([Id])
GO
ALTER TABLE [dbo].[UsuariosRoles] CHECK CONSTRAINT [FK_dbo.UsuariosRoles_dbo.Sucursales_SucursalID]
GO
ALTER TABLE [dbo].[UsuariosRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UsuariosRoles_dbo.Usuarios_UsuarioID] FOREIGN KEY([UsuarioID])
REFERENCES [dbo].[Usuarios] ([Id])
GO
ALTER TABLE [dbo].[UsuariosRoles] CHECK CONSTRAINT [FK_dbo.UsuariosRoles_dbo.Usuarios_UsuarioID]
GO
ALTER TABLE [dbo].[VentaItems]  WITH CHECK ADD  CONSTRAINT [FK_dbo.VentaItems_dbo.Articulos_ArticuloID] FOREIGN KEY([ArticuloID])
REFERENCES [dbo].[Articulos] ([Id])
GO
ALTER TABLE [dbo].[VentaItems] CHECK CONSTRAINT [FK_dbo.VentaItems_dbo.Articulos_ArticuloID]
GO
ALTER TABLE [dbo].[VentaItems]  WITH CHECK ADD  CONSTRAINT [FK_dbo.VentaItems_dbo.Ventas_VentaID] FOREIGN KEY([VentaID])
REFERENCES [dbo].[Ventas] ([Id])
GO
ALTER TABLE [dbo].[VentaItems] CHECK CONSTRAINT [FK_dbo.VentaItems_dbo.Ventas_VentaID]
GO
ALTER TABLE [dbo].[Ventas]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Ventas_dbo.Clientes_ClienteID] FOREIGN KEY([ClienteID])
REFERENCES [dbo].[Clientes] ([Id])
GO
ALTER TABLE [dbo].[Ventas] CHECK CONSTRAINT [FK_dbo.Ventas_dbo.Clientes_ClienteID]
GO
ALTER TABLE [dbo].[Ventas]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Ventas_dbo.Sucursales_SucursalID] FOREIGN KEY([SucursalID])
REFERENCES [dbo].[Sucursales] ([Id])
GO
ALTER TABLE [dbo].[Ventas] CHECK CONSTRAINT [FK_dbo.Ventas_dbo.Sucursales_SucursalID]
GO
ALTER TABLE [dbo].[Ventas]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Ventas_dbo.Usuarios_UsuarioID] FOREIGN KEY([UsuarioID])
REFERENCES [dbo].[Usuarios] ([Id])
GO
ALTER TABLE [dbo].[Ventas] CHECK CONSTRAINT [FK_dbo.Ventas_dbo.Usuarios_UsuarioID]
GO
